.search
{
    margin: 20px 50px 0px;
    display:flex;
}
.search input
{
    padding: 20px 10px 10px;
    border:0;
    width:100%;
    color: #800080;
    font-size: 20px;
    text-align: center;
}
.search input:focus
{
    outline: none;
    border-bottom: 1px solid #008B8B;
    background-color:#E0FFFF;
}
.btn
{
    padding: 6px 16px;
    background-color: #483D8B;
    color: aliceblue;
    border: 2px solid #483D8B;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: inset 1px 0px 8px 1px #FFF;
}
.radio
{
    margin: 20px 50px 0;
}
.radio, .radio > div
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.radio input
{
    width: 20px;
    height: 20px;
}
.radio span
{
    margin-right: 60px;
}