.header
{
    background-color: #9370DB;
    color: #FFF;
    padding: 20px;
    /* height: 80px; */
    /* box-sizing: border-box; */
}
.header .wrap
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo
{
    font-size: 20px;
    font-weight: bold;
}
.contacts
{
    text-align: right;
}